h1 New message 

form(method="POST" action="/new")
    div.form-group
        label(for="name") Name
        input#name(type="text", name="name", placeholder="Jhon Doe")
    div.form-group
        label(for="text") Message
        textarea#text(name="text", cols="30", rows="10", placeholder="Your message here...")
    div.button-group
        a(href="/") 
            button#cancel-button(type="button") Cancel 
        button#submit-button(type="submit") Submit